body {
  margin: 0;
  font-family:'Helvetica';
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll !important;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
